body {
    font-family: 'Inter', sans-serif;
    background-color: #fafafa;
    color: #111;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    padding: 10px;
}
.logo {
    width: 120px;
}
form {
    margin-top: 20px;
}
footer {
    margin-top: 40px;
    font-size: 0.8rem;
    color: #777;
}
